.main{
background: linear-gradient(180deg, #c7a9ff, #d9b6ff); 
  height: 600px;
  width: 350px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 
    12px 12px 24px rgba(0,0,0,0.15),
    -8px -8px 20px rgba(255,255,255,0.6);

  display: flex;
  align-items: center;

  
  justify-content: center;
}
.m1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}
.b{
    height: 100%;
    width: 100%;
    background-color: rgba(222, 184, 135, 0.103);
}
.small{
     width: 320px;          
  height: 460px;  
    border: 2px solid black;
    border-radius: 20px;
     display: flex;
    justify-content: space-around;
    padding-top: 70px;
    flex-direction: column;
    align-items: center ;
    background: #f0f4fa; 
     box-shadow: 
    8px 8px 16px rgba(0,0,0,0.15),
    -8px -8px 16px rgba(255,255,255,0.9);


   
}
.big{
    height: 50px;
    width: 300px;
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    background: #dfeaf6;
    font-weight: bold;
     box-shadow: inset 5px 5px 12px rgba(0,0,0,0.12),
              inset -5px -5px 12px rgba(255,255,255,0.9);
   
}
.big p{
    font-size: 35px;
    padding-right: 15px;
     
}
.a1{
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.a1 button{
    height: 50px;
    width: 50px;
    border-radius: 100%;
      background: #e6f0fa; 
      font-weight: bold;
       box-shadow: 
    6px 6px 12px rgba(0,0,0,0.15),   
    -6px -6px 12px rgba(255,255,255,0.9); 
      font-size: 20px;

}


.a2{
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.a2 button{
    height: 50px;
    width: 50px;
    border-radius: 100%;
      background: #e6f0fa; 
      font-weight: bold;
      font-size: 20px;
       box-shadow: 
    6px 6px 12px rgba(0,0,0,0.15),   
    -6px -6px 12px rgba(255,255,255,0.9); 
           
}

.a3{
    height: 50px;
    width: 350px;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.a3 button{
    height: 50px;
    width: 50px;
    border-radius: 100%;
      background: #e6f0fa; 
      font-weight: bold;
       box-shadow: 
    6px 6px 12px rgba(0,0,0,0.15),   
    -6px -6px 12px rgba(255,255,255,0.9); 
      font-size: 20px;

}

.a4{
    height: 50px;
    width: 350px;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.a4 button{
    height: 50px;
    width: 50px;
    border-radius: 100%;
      background: #e6f0fa; 
      font-weight: bold;
       box-shadow: 
    6px 6px 12px rgba(0,0,0,0.15),   
    -6px -6px 12px rgba(255,255,255,0.9); 
      font-size: 20px;

}
.a44 button{
     height: 50px;
    width: 150px;
    border-radius:80px;
      background:rgba(128, 0, 128, 0.247);
      font-weight: bold;


}


