header{
    font-size: 30px;
    color: white;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    height: 620px;
   width: 500px;
   display: flex;
   flex-direction: column;
     
}
.m1{
    display: flex;
    justify-content: center;
     background-color: rgba(20, 19, 19, 0.071);
     height: 645px;
  
}
.b1 p{
    font-size: 25px;
   display: flex;
   justify-content: start;
   color: rgba(0, 0, 0, 0.801);
   line-height: 0px;
   align-items: start;
}
.b2 p{
    font-size: 25px;
   display: flex;
   justify-content: start;
   line-height: 0px;
   color: rgb(0, 0, 0);
}
.b11{
   padding-top: 15px;
   line-height: 30px;
}
.A{
    display: flex;
    justify-content: center;
    height: 110px;
    width: 450px;
    border-radius: 20px;
    background-color: rgb(243, 240, 240);
    box-shadow: 15px;
   gap: 50px;
   align-items: center;

}
.i1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.income{
    font-size: 30px;
    
    align-items: center;
    display: flex;
    justify-content: center;

}
.incomee{
     font-size: 30px;
   
    align-items: center;
    display: flex;
    justify-content: center;
    color: green;
}
.e1{
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-left: 2px solid grey;
    height: 80px;

  
}
.Expence{
     font-size: 30px;
    padding-left: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.expence{
       font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: red;
}
.a11{
   display: flex;
   justify-content: center;
}
.trans{
    border-bottom: 2px solid grey;
   width: 450px;
    line-height: 0px;
}
.namee{
    line-height: 25px;
    padding-top: 15px;
    font-size: 20px;
}
.namee input{
    font-size: 15px;
  width: 450px;
    border-radius: 4px;
    border-color: black;
    
}
.namee ::placeholder{
    color:rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    background-color: white;
}
.amount{
    line-height: 25px;
     padding-top: 15px;
    font-size: 20px;
}
.amount input{
      font-size: 15px;
   width: 450px;
    border-radius: 4px;
    border-color: black;
}
.amount ::placeholder{
   color:rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    background-color: white;
}
.b1 button{
   height: 30px;
   width: 455px;
   background-color: blue;
   color: white;
}
.b1{
    padding-top: 20px;
}

